{% extends "base.html" %}
{% load  backend_utils %}
{% load static from staticfiles %}

{% block extra_css %}
  <link href="{% static 'css/edx-theme.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}

{% block title %}Открытое образование - Активация завершена{% endblock title %}

{% block content %}
<div class="content-wrapper">
  <div class="auth-wrapper">
    <div class="auth-section">
      <h2><span>Обновление данных профиля</span></h2>
      <p>Вы авторизовались через соцсеть. Мы заполним ваш профиль на сайте следующими данными:</p>
      <table>
	<tr><td>Изображение</td><td><img src="{{ prev_image_url }}" alt=""></td><tr>
	<tr><td>ФИО</td><td>{{ first_name }} {{ last_name }}</td><tr>
	<tr><td>Пол</td><td>{{ prev_gender }}</td><tr>
	<tr><td>Страна</td><td>{{ prev_country }}</td><tr>
	<tr><td>Город</td><td></td><tr>
	<tr><td>Вуз</td><td></td><tr>
      </table>
      <h2><span>Уточнение адреса электронной почты</span></h2>
      <p>Подтвердите или измените адрес электронной почты. Мы будем присылать на него</p>
      <p> уведомления и информацию о курсах, на которые вы запишетесь.</p>
      <form action="{% url "social:complete" backend=backend %}" method="post" role="form" id="social_email_form">
	{% csrf_token %}
	<div class="modal-body"><div class="form-group">{{ form }}</div></div>
        <div class="modal-footer">
	  <button class="btn btn-default" id="social_email" >Использовать указанный email</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
