{% extends "base.html" %}
{% load  backend_utils %}
{% load static from staticfiles %}

{% block extra_css %}
<link href="http://dev01.metod.ru:8080/static/css/style.css" rel="stylesheet" type="text/css" />
<link href="{% static 'css/edx-theme.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}
{% block title %}Смена пароля{% endblock %}

{% block content %}
<div class="content-wrapper">
  <div class="auth-wrapper">
    <div class="auth-section">
      <h2><span>Смена пароля</span></h2>

        <form action="" method="post">{% csrf_token %}
            <div>
            {% if form.errors %}
                <p class="errornote">Пожалуйста, исправьте неточности.</p>
            {% endif %}

            <fieldset class="module aligned wide">

            <div class="form-row">
                {{ form.old_password.errors }}
                <label for="id_old_password" class="required"> Текущий пароль:</label>{{ form.old_password }}
            </div>

            <div class="form-row">
                {{ form.new_password1.errors }}
                <label for="id_new_password1" class="required">Новый пароль:</label>{{ form.new_password1 }}
            </div>

            <div class="form-row">
            {{ form.new_password2.errors }}
                <label for="id_new_password2" class="required">И ещё раз:</label>{{ form.new_password2 }}
            </div>

            </fieldset>

            <div class="submit-row">
                <input type="submit" class="btn btn-primary btn-submit" value="Сменить пароль" class="default" />
            </div>

            <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
            </div>
        </form>



    </div>
  </div>
</div>
{% endblock %}
