{% extends "base.html" %}
{% load  backend_utils %}
{% load static from staticfiles %}

{% block extra_css %}
<link href="{% static 'css/edx-theme.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}

{% block title %}Пароль успешно изменён{% endblock %}

{% block content %}
<div class="content-wrapper">
  <div class="auth-wrapper">
    <div class="auth-section">
        <p>Ваш пароль успешно изменён, теперь вы можете <a href="{{ login_url }}">войти</a></p>
    </div>
  </div>
</div>
{% endblock %}
