{% extends "base.html" %}
{% load  backend_utils %}
{% load static from staticfiles %}

{% block extra_css %}
  <link href="{% static 'css/edx-theme.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}

{% block title %}Открытое образование - Установка нового пароля{% endblock title %}

{% block content %}
<div class="content-wrapper">
  <div class="auth-wrapper">
    <div class="auth-section">
    {% if validlink %}

        <p>Пожалуйста, введите новы пароль и затмем повторите ввод</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Новый пароль:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">И ещё раз:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" class="btn btn-primary btn-submit" value="Изменить пароль" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h2><span>Не удалось сбросить пароль</span></h2>
        <p>Ссылка на сброс пароля не валидна. Возможно, по этой ссылке уже был произведён сброс пароля.
        Пожалуйста, попробуйте сменить пароль ещё раз.</p>
    {% endif %}
    </div>
  </div>
</div>
{% endblock %}
