{% extends "base.html" %}
{% load  backend_utils %}
{% load static from staticfiles %}

{% block extra_css %}
  <link href="{% static 'css/edx-theme.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}

{% block title %}Открытое образование - Сброс пароля{% endblock title %}

{% block content %}
<div class="content-wrapper">
  <div class="auth-wrapper">
    <div class="auth-section">
      <h2><span>Сброс пароля</span></h2>
        <p>Пожалуйста, уажите ваш e-mail. Мы отправим на него инструкцию по сбросу пароля</p>

        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
        {{ form.email.errors }}
        <p><label for="id_email">E-mail:</label> {{ form.email }}
            <input type="submit" class="btn btn-primary btn-submit" value="Сбросить пароль" />
        </p>
        </form>
    </div>
  </div>
</div>
{% endblock %}
