{% extends "base.html" %}
{% load  backend_utils %}
{% load static from staticfiles %}

{% block extra_css %}
  <link href="{% static 'css/edx-theme.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}

{% block title %}Пароль успешно сброшен{% endblock %}

{% block content %}
<div class="content-wrapper">
  <div class="auth-wrapper">
    <div class="auth-section">
      <h2><span>Пароль успешно сброшен</span></h2>
        <p>Мы отправили письмо с инструкциями по сбросу пароля на указанный e-mail.</p>
        <p>Вы получите его в ближайшее время.</p>
    </div>
  </div>
</div>
{% endblock %}
