 {% load i18n %}{% load url from future %}
{% autoescape off %}
Вы получили это письмо потому что кто-то указал ваш e-mail в форме сброса пароля на {{ site_name }}.

Пожалуйста, пройдите по ссылке и установите новый пароль:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Если вы забыли, ваш логин: {{ user.username }}

Спасибо, что вы с нами!

С уважением,
команда {{ site_name }}

{% endautoescape %}
