{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="gridSystemModalLabel">Register</h4>
      </div>
      <div class="modal-body">
	<div class="buttons">
	  <div class="social">
            <div class="row">
              <div class="col-sm-3 text-right">
                <p><strong>Register with</strong></p>
              </div>
              <div class="col-sm-9">
                <a class="custom_img-thumbnail_link" href="{% url 'social:begin' 'facebook' %}?{{ request.META.QUERY_STRING }}">
                  <img class="img-thumbnail custom_img-thumbnail" src="{% static 'images/facebook.png' %}" alt=""/>
                </a>
                <a class="custom_img-thumbnail_link" href="{% url 'social:begin' 'twitter' %}?{{ request.META.QUERY_STRING }}">
                  <img class="img-thumbnail custom_img-thumbnail" src="{% static 'images/twitter.png' %}" alt=""/>
                </a>
                <a class="custom_img-thumbnail_link" href="{% url 'social:begin' 'google-oauth2' %}?{{ request.META.QUERY_STRING }}">
                  <img class="img-thumbnail custom_img-thumbnail" src="{% static 'images/google.jpg' %}" alt=""/>
                </a>
                <a class="custom_img-thumbnail_link" href="{% url 'social:begin' 'mailru-oauth2' %}?{{ request.META.QUERY_STRING }}">
                  <img class="img-thumbnail custom_img-thumbnail" src="{% static 'images/mail.png' %}" alt=""/>
                </a>
                <a class="custom_img-thumbnail_link" href="{% url 'social:begin' 'vk-oauth2' %}?{{ request.META.QUERY_STRING }}">
                  <img class="img-thumbnail custom_img-thumbnail" src="{% static 'images/vkontakte.png' %}" alt=""/>
                </a>
              </div>
            </div>
	  </div>
	  <div class="legacy">
            <form class="form-horizontal" method="post" action="{% url 'registration_register2' %}?{{ request.META.QUERY_STRING }}" id="registr">
	      {% csrf_token %}
	      <div id="reg_body">
		{{ form }}
	      </div>
	      <div class="modal-footer">
		<input type="submit" class="btn btn-success" value="Register" >
	      </div>
            </form>
	  </div>
	</div>
      </div>
    </div>

{% endblock %}
