{% extends "base.html" %}
{% load static from staticfiles %}

{% block extra_css %}
<link href="http://dev01.metod.ru:8080/static/css/style.css" rel="stylesheet" type="text/css" />
<link href="{% static 'css/edx-theme.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}

{% block header %}
 <header class="global-header">
   <div class="container">
     <div class="top-bar row">
       <div class="menu col-md-1 col"><a href="#/"><span aria-hidden="true" class="icon menu-icon"></span></a></div>
       <div class="col-md-2"><a id="logo" href="/"><img alt="" src="http://dev01.metod.ru:8080/static/img/logo-light.png"></a></div>
       <div class="catalog-link col-md-6 col"><a href="http://dev01.metod.ru:8080/course/"><span aria-hidden="true" class="icon catalog-icon"></span>Каталог курсов</a></div>
       <div class="version col-md-2 text-right col">
         <span id="sb_login" class="l-btn" style="">
           <span class="icon login-icon"></span><a href="http://dev01.metod.ru:8080/login/npoedsso/?next=/course/">Вход</a>
         </span>
       </div>
     </div>
 </header>
{% endblock header %}

{% block content %}
<div class="content-wrapper">

  <div class="auth-wrapper">
    <div class="auth-section reg-social-networks">
      <h2><span>Зарегистрироваться через</span></h2>
      <ul>
        <li class="reg-btn reg-btn-fb"><a class="custom_img-thumbnail_link" href="{% url 'social:begin' 'facebook' %}?{{ request.META.QUERY_STRING }}"><i class="fa fa-facebook"></i> Facebook</a></li>
        <li class="reg-btn reg-btn-vk"><a class="custom_img-thumbnail_link" href="{% url 'social:begin' 'vk' %}?{{ request.META.QUERY_STRING }}"><i class="fa fa-vk"></i> Vkontakte</a></li>
        <li class="reg-btn reg-btn-tw"><a class="custom_img-thumbnail_link" href="{% url 'social:begin' 'twitter' %}?{{ request.META.QUERY_STRING }}"><i class="fa fa-twitter"></i> Twitter</a></li>
        <li class="reg-btn reg-btn-gg"><a class="custom_img-thumbnail_link" href="{% url 'social:begin' 'google-oauth2' %}?{{ request.META.QUERY_STRING }}"><i class="fa fa-google"></i> Google</a></li>
        <li class="reg-btn reg-btn-ma"><a class="custom_img-thumbnail_link" href="{% url 'social:begin' 'mailru' %}?{{ request.META.QUERY_STRING }}"><span class="icon-mailru"></span> Mail.ru</a></li>
      </ul>
    </div>
    <div class="auth-section reg-new">
      <h2><span>или создать новый аккаунт</span></h2>
      <form class="form-horizontal" method="post" action="{% url 'registration_register2' %}?{{ request.META.QUERY_STRING }}" id="registr">
	      {% csrf_token %}
	       <div id="reg_body">
      		{{ form }}
	      </div>
	      <div class="modal-footer">
      		<input type="submit" class="btn btn-primary btn-submit" value="Зарегистрироваться" >
	      </div>
      </form>
    </div>
  </div>


<!--
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="gridSystemModalLabel">Регистрация</h4>
    </div>
    <div class="modal-body">
      <div class="buttons">
        <div class="social">
          <div class="row">
            <div class="col-sm-3 text-right">
              <p><strong>Регистрироваться через</strong></p>
            </div>
            <div class="col-sm-9">
              <a class="custom_img-thumbnail_link" href="{% url 'social:begin' 'facebook' %}?{{ request.META.QUERY_STRING }}">
                <img class="img-thumbnail custom_img-thumbnail" src="{% static 'images/facebook.png' %}" alt=""/>
              </a>
              <a class="custom_img-thumbnail_link" href="{% url 'social:begin' 'twitter' %}?{{ request.META.QUERY_STRING }}">
                <img class="img-thumbnail custom_img-thumbnail" src="{% static 'images/twitter.png' %}" alt=""/>
              </a>
              <a class="custom_img-thumbnail_link" href="{% url 'social:begin' 'google-oauth2' %}?{{ request.META.QUERY_STRING }}">
                <img class="img-thumbnail custom_img-thumbnail" src="{% static 'images/google.jpg' %}" alt=""/>
              </a>
              <a class="custom_img-thumbnail_link" href="{% url 'social:begin' 'mailru-oauth2' %}?{{ request.META.QUERY_STRING }}">
                <img class="img-thumbnail custom_img-thumbnail" src="{% static 'images/mail.png' %}" alt=""/>
              </a>
              <a class="custom_img-thumbnail_link" href="{% url 'social:begin' 'vk-oauth2' %}?{{ request.META.QUERY_STRING }}">
                <img class="img-thumbnail custom_img-thumbnail" src="{% static 'images/vkontakte.png' %}" alt=""/>
              </a>
            </div>
          </div>
        </div>
        <div class="legacy">
          <form class="form-horizontal" method="post" action="{% url 'registration_register2' %}?{{ request.META.QUERY_STRING }}" id="registr">
            {% csrf_token %}
             <div id="reg_body">
              {{ form }}
            </div>
            <div class="modal-footer">
              <input type="submit" class="btn btn-success" value="Зарегистрироваться" >
            </div>
          </form>
    	  </div>
    	</div>
    </div>
  </div> -->
</div>
{% endblock %}

{% block footer %}
<footer>
  <div class="container-fluid">
  <div class="row">
      <div class="col-md-5 side left-side">
        <a href="/" class="pull-left"><img src="http://dev01.metod.ru:8080/static/img/logo-small.png" alt="" class="logo-small"></a>
        <ul class="list-unstyled">
          <li><a href="">Каталог курсов</a></li>
          <li><a href="">Направления подготовки</a></li>
        </ul>
      </div>
      <div class="col-md-7 side right-side">
        <div class="row">
          <div class="col-md-5">
            <ul class="list-unstyled narrow">
              <li><a href="http://dev01.metod.ru:8080/about/">О платформе</a></li>
              <li><a href="/faq/">Вопрос-ответ</a></li>
              <li><a href="#">Для преподавателей </a></li>
              <li><a href="#">Партнерам</a></li>
            </ul>
          </div>
          <div class="col-md-7">
            <ul class="list-unstyled wide">
              <li><a href="#">Условия предоставления услуг</a></li>
              <li><a href="#">Политика конфиденциальности</a></li>
              <li><a href="#">Правила использования</a></li>
              <li><a href="#">Версия для&nbsp;слабовидящих</a></li>
            </ul>
          </div>

        </div>

      </div>
    </div>

    <div class="row copyright">
      <div class="col-md-5">
        © 2015 Открытое образование
        <ul class="list-inline">
          <li>
            <a href="#"><img src="http://dev01.metod.ru:8080/static/img/social/fb.png" alt=""></a>
            <a href="#"><img src="http://dev01.metod.ru:8080/static/img/social/vk.png" alt=""></a>
            <a href="#"><img src="http://dev01.metod.ru:8080/static/img/social/ok.png" alt=""></a>
            <a href="#"><img src="http://dev01.metod.ru:8080/static/img/social/inst.png" alt=""></a>
            <a href="#"><img src="http://dev01.metod.ru:8080/static/img/social/tw.png" alt=""></a>
            <a href="#"><img src="http://dev01.metod.ru:8080/static/img/social/you.png" alt=""></a>
          </li>
        </ul>
      </div>
      <div class="col-md-7">
        <div class="warning"><span class="label label-primary">12+</span>Ресурс может содержать материалы для лиц старше 12 лет</div>
      </div>
    </div>
  </div>
</footer>
{% endblock %}