@font-face {
  font-family: 'PFBeauSansPro';
  src:
    url('/static/fonts/PFBeauSansPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/PFBeauSansPro-Regular.woff') format('woff'),
    url('/static/fonts/PFBeauSansPro-Regular.ttf') format('truetype'),
    url('/static/fonts/PFBeauSansPro-Regular.svg#PFBeauSansPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFBeauSansPro-SemiBold';
  src:
    url('/static/fonts/PFBeauSansPro-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/PFBeauSansPro-SemiBold.woff') format('woff'),
    url('/static/fonts/PFBeauSansPro-SemiBold.ttf') format('truetype'),
    url('/static/fonts/PFBeauSansPro-SemiBold.svg#PFBeauSansPro-SemiBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PFBeauSansPro-Bold';
  src:
    url('/static/fonts/PFBeauSansPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/PFBeauSansPro-Bold.woff') format('woff'),
    url('/static/fonts/PFBeauSansPro-Bold.ttf') format('truetype'),
    url('/static/fonts/PFBeauSansPro-Bold.svg#PFBeauSansPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PFBeauSansPro-Italic';
  src:
    url('/static/fonts/PFBeauSansPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/PFBeauSansPro-Italic.woff') format('woff'),
    url('/static/fonts/PFBeauSansPro-Italic.ttf') format('truetype'),
    url('/static/fonts/PFBeauSansPro-Italic.svg#PFBeauSansPro-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icosocial';
  src:url('/static/fonts/icosocial.eot?-iqnos8');
  src:url('/static/fonts/icosocial.eot?#iefix-iqnos8') format('embedded-opentype'),
    url('/static/fonts/icosocial.ttf?-iqnos8') format('truetype'),
    url('/static/fonts/icosocial.woff?-iqnos8') format('woff'),
    url('/static/fonts/icosocial.svg?-iqnos8#icosocial') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icosocial';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-mailru:before {
  content: "\e600";
}

/* Common styles */

body {
  padding: 0;
  background-color: #fff !important; /* override html inline declaration */
}
.global-header {
  position: relative;
}
.firstDocumentHeading {
  margin: 0 0 0.7em;
  padding: 0;
  font-size: 2.1em;
  font-weight: normal;
}
.modal-content {
  margin-top: 25px;
  margin-bottom: 25px;
}
.btn-primary,
.btn-primary:visited,
.btn-primary:hover {
  color: #fff;
  font-size: 1.2em;
  line-height: 31px;
  text-decoration: none;
  background-image: none;
  background-color: #126f9a;
}

.errorlist {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.errorlist li {
  display: block;
  color: red;
}
.content-wrapper {
  max-width: 700px;
  margin: 20px auto;
}

.auth-wrapper {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.auth-wrapper h2 {
  display: block;
  margin: 0 0 15px 0;
  text-align: center;
  font-size: 18px;
  line-height: 1;
  font-weight: normal;
  border-top: 1px solid #ccc;
}
.auth-wrapper h2 span {
  position: relative;
  top: -8px;
  padding: 0 20px;
  background-color: #fff;
}
.auth-section {
  padding: 15px 0;
}
.auth-section ul {
  padding: 0;
}
.auth-section label {
  display: block;
  width: 100%;
  margin: 0;
  text-transform: capitalize;
  font-weight: normal;
}
.auth-section input[type="text"],
.auth-section input[type="email"],
.auth-section input[type="password"] {
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 25px;
}
.auth-section .btn-submit {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.auth-table td {
  padding: 8px;
}

.auth-img {
  display: block;
  margin: auto;
}

.auth-row {
  margin-bottom: 20px;
}

/* chosen.js SELECT tag replacement */
.chosen-container-single .chosen-single {
  height: 40px;
}
.chosen-container-single .chosen-single span {
  line-height: 40px;
}
.chosen-container-single .chosen-single div b {
  background-position: 0 8px;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 8px;
}

/* Login page */

.modal-footer {
  margin-top: 25px;
  padding: 0;
  border: 0;
}
#login_auth .reset-password-link {
  position: relative;
  top: -20px;
  font-size: 12px;
}

/* Registration page */

.to_registration-wrapper {
  margin: 20px 20px 50px;
}
.to_registration-wrapper h2 {
  display: block;
  margin: 0 0 15px 0;
  text-align: center;
  font-size: 18px;
  line-height: 1;
  font-weight: normal;
}
.to_registration-wrapper h2 span {
  position: static;
}
.to_registration-wrapper .login-section {
  padding: 15px 0;
}
.to_register {
  width: 100%;
  box-shadow: none;
  text-shadow: none;
  color: #4799cb;
  background-color: #fff;
  border: 1px solid #126f9a;
}
.btn.to_register {
  color: #126f9a;
  background-color: transparent;
}
.btn.to_register:hover {
  background-color: #f5f5f5;
  border: 1px solid #126f9a;
}

.reg-social-networks ul {
  display: block;
  text-align: center;
}
.reg-social-networks li {
  display: inline-block;
  margin: 0 4px;
}
.reg-btn {
  display: inline-block;
  font-size: 12px;
  border: 1px solid #c8c8c8;
  border-radius: 2px;
}
.reg-btn .fa,
.reg-btn [class^="icon-"],
.reg-btn [class*=" icon-"] {
  display: inline-block;
  width: 30px;
  margin-right: 5px;
  font-size: 13px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background-color: #3b5998;
}
.reg-btn a {
  display: inline-block;
  padding-right: 15px;
  color: #3b5998;
}
.reg-btn a:hover {
  color: #333;
  text-decoration: none;
  background-color: #f5f5f5;
}
.reg-btn-fb a { /* facebook */
  color: #3b5998;
}
.reg-btn-fb .fa {
  background-color: #3b5998;
}
.reg-btn-vk a { /* vk */
  color: #4c75a3;
}
.reg-btn-vk .fa {
  background-color: #4c75a3;
}
.reg-btn-tw a { /* twitter */
  color: #00abe1;
}
.reg-btn-tw .fa {
  background-color: #00abe1;
}
.reg-btn-gg a { /* google */
  color: #cc3732;
}
.reg-btn-gg .fa {
  background-color: #cc3732;
}

.reg-btn-cm a { /* community */
  color: #0071bc;
}
.reg-btn-cm .fa {
  background-color: #0071bc;
}

.reg-btn-ma a { /* mailru */
  color: #154079;
}
.reg-btn-ma .fa,
.reg-btn-ma [class^="icon-"] {
  color: #cf9504;
  background-color: #154079;
}

/* Profile page */
.profile-container
{
  margin: 20px auto;
  max-width:600px;
  width: 100%;
}
.section-profile {}
.profile-nav {
  display: block;
  margin: 0 0 15px;
  padding: 0;
  list-style-type: none;
  font-size: 1.2em;
}
.profile-nav li {
  display: inline-block;
  margin: 0 3em 0 0;
  padding: 0;
}
.profile-nav li a {
  text-decoration: underline;
}
.profile-content-wrapper {
  display: block;
  margin: 0 0 50px;
  padding: 15px;
  background-color: #f8f8f8;
  border-radius: 5px;
}
.profile-content-wrapper h5 {
  margin: 0 0 0.5em;
  font-size: 1.1em;
  font-weight: bold;
  color: #666;
}
.profile-content-wrapper table {
  display: block;
  width: 100%;
}
.profile-content-wrapper table br {
  display: none;
}
.profile-content-wrapper table tbody,
.profile-content-wrapper table tr,
.profile-content-wrapper table th,
.profile-content-wrapper table td {
  display: block;
}
.profile-content-wrapper table th label {
  margin: 15px 0 3px;
  font-weight: normal;
  font-size: 0.9em;
}
.profile-content-wrapper table tbody tr:first-child th label {
  margin-top: 0;
}
.profile-input
{
  margin-bottom: 20px;
}
.profile-input label
{
  color: #777;
  font-weight: normal;
  width: 100%;
}
.profile-input .chosen-container
{
  width: 100% !important;
}
.profile-input .chosen-container-single .chosen-single
{
  background: #fff;
  border-radius: 3px;
  border: none;
  color: #999;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
          box-shadow: 0 2px 1px rgba(0,0,0,0.1);
     -moz-box-shadow: 0 2px 1px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.1);
}
.profile-input .chosen-container-active .chosen-single
{
  color: #000;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
          box-shadow: 0 2px 1px rgba(0,0,0,0.4);
     -moz-box-shadow: 0 2px 1px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.3);
}
.profile-input .chosen-container-single .chosen-drop
{
  border: none;
          box-shadow: 0 2px 1px rgba(0,0,0,0.4);
     -moz-box-shadow: 0 2px 1px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.3);
}
.profile-input .chosen-container-single .chosen-drop ul
{
  margin: 0;
  padding: 0;
}
.profile-input .chosen-container-single .chosen-drop li
{
  font-size: 14px;
  line-height: 100%;
  padding: 10px 15px 8px 15px;
}
.profile-input .chosen-container-single .chosen-drop li.highlighted
{
  background: #1F323C;
}
.profile-input .chosen-container-single .chosen-single div b
{
  width: 90%;
}
.profile-input .chosen-container-single .chosen-search input[type="text"]
{
  border: 1px solid #eee;
}
.profile-content-wrapper table input[type="text"],
.profile-content-wrapper table input[type="email"],
.profile-content-wrapper table input[type="password"],
.profile-input input[type="text"],
.profile-input input[type="email"],
.profile-input input[type="password"],
.profile-input textarea,
.profile-input select  {
  display: block;
  width: 100%;
  margin: 0 0 7px;
  padding: 10px 15px 8px 15px;
  color: #777;
  background-color: #fff;
  border: 0;
  border-radius: 3px;
          box-shadow: 0 2px 1px rgba(0,0,0,0.1);
     -moz-box-shadow: 0 2px 1px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.1);
}
.profile-input select
{
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  border: none;
  cursor: pointer;
  height: 38px;
  outline:none;
  padding: 0 32px 0 15px;
}
.profile-input.select label
{
  position: relative;
}
.profile-input.select label:after
{
  content: "\f0d7";
  font-family: 'FontAwesome';
  pointer-events:none;
  position: absolute;
  right: 15px;
  top: 34px;
}
.profile-input select option
{
  border: none;
  padding: 5px 10px;
}
.profile-input input.disabled
{
  cursor: not-allowed;
  background: #fffdfd;
  color: #1F323C;
          box-shadow: 0 2px 1px rgba(0,0,0,0.4);
     -moz-box-shadow: 0 2px 1px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.3);
}
.profile-input input:focus,
.profile-input textarea:focus
{
  color: #1F323C;
          box-shadow: 0 2px 1px rgba(0,0,0,0.4);
     -moz-box-shadow: 0 2px 1px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.3);
}
.profile-content-wrapper table select,
.profile-input select {
  width: 100%;
}
.profile-photo img
{
  margin-bottom: 20px;
  width: 100%;
}
.profile-content-wrapper .helptext {
  display: block;
  padding: 0 10px;
  font-size: 12px;
  color: #999;
}
.footer-buttons {
  margin: 25px 0 0 0;
  padding: 25px 0;
  text-align: center;
  border-top: 1px solid #ccc;
}
.footer-buttons .btn {
  padding: 5px 50px;
  font-size: 1.2em;
}

#profile-connect-social-network {
  margin-bottom: 15px;
}
#profile-connect-social-network a span {
  display: none;
}
.link-facebook:before,
.link-google-oauth2:before,
.link-mailru-oauth2:before,
.link-twitter:before,
.link-vk-oauth2:before {
  content: "@";
  display: inline-block;
  font-family: FontAwesome;
  width: 40px;
  line-height: 40px;
  text-align: center;
  margin-right: 10px;
  font-size: 25px;
  color: #fff;
  vertical-align: middle;
  background-color: #000;
  border-radius: 50%;
}
.link-facebook:before {
  content: "\f09a";
  background-color: #3b5998;
}
.link-google-oauth2:before {
  content: "\f0d5";
  background-color: #cc3732;
}
.link-mailru-oauth2:before {
  /*font-family: 'icosocial';*/
  /*content: "\e600";*/
  background-color: #154079;
}
.link-twitter:before {
  content: "\f099";
  background-color: #00abe1;
}
.link-vk-oauth2:before {
  content: "\f189";
  background-color: #4c75a3;
}
.disconnect-social-networks {
  margin: 10px 0;
  padding: 10px 0;
}
#profile-connected-social-network ul {
  display: block;
  list-style: none;
  padding: 0;
}
#profile-connected-social-network li {
  display: block;
  margin-bottom: 20px;
}
#profile-connected-social-network li form {
  margin: 0;
  padding: 0;
}

@media (max-width: 480px) {
  .auth-wrapper h2 {
    border-top: transparent;
  }
}


@media (max-width: 767px) {
  .modal-footer {
    text-align: center;
  }

}
