{% load static from staticfiles %}
<div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" id="login_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Login</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">

          <form class="form-horizontal" method="post" action="{% url 'login' %}" id="login_auth">
	    {% csrf_token %}
	    <div id="auth_form">
	      {{ login_form }}
	    </div>
            <div class="row">
              <div class="col-sm-3 text-right">
                <p><strong>Login with</strong></p>
              </div>
              <div class="col-sm-9">
                <a class="custom_img-thumbnail_link" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
                  <img class="img-thumbnail custom_img-thumbnail" src="{% static 'images/facebook.png' %}" alt=""/>
                </a>
                <a class="custom_img-thumbnail_link" href="{% url 'social:begin' 'vk-oauth2' %}?next={{ request.path }}">
                  <img class="img-thumbnail custom_img-thumbnail" src="{% static 'images/twitter.png' %}" alt=""/>
                </a>
                <a class="custom_img-thumbnail_link" href="{% url 'social:begin' 'vk-oauth2' %}?next={{ request.path }}">
                  <img class="img-thumbnail custom_img-thumbnail" src="{% static 'images/google.jpg' %}" alt=""/>
                </a>
                <a class="custom_img-thumbnail_link" href="{% url 'social:begin' 'vk-oauth2' %}?next={{ request.path }}">
                  <img class="img-thumbnail custom_img-thumbnail" src="{% static 'images/mail.png' %}" alt=""/>
                </a>
                <a class="custom_img-thumbnail_link" href="{% url 'social:begin' 'vk-oauth2' %}?next={{ request.path }}">
                  <img class="img-thumbnail custom_img-thumbnail" src="{% static 'images/vkontakte.png' %}" alt=""/>
                </a>
              </div>
            </div>
            <div class="form-group" style="margin-top: 20px;">
              <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox">
                  <label> <input type="checkbox"> Remember me </label>
                </div>
		<a href="/accounts/password/reset/">Forgot password</a>
		/
		<a href="{% url 'password_change' %}">Change password</a>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="auth_form_sub" >Log in</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
