@import "variables";

.global-header {
  line-height: 1.2;
  background: $global-background-color-dark;
  .container {
    position: relative;
    padding-top: 170px;
    color: $global-text-color-light;
  }
  .logo {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-bottom: 25px;
    text-indent: 100%;
    overflow: hidden;
    background-color: #404040;
    border: 1px solid $global-border-color-light;
  }
  .header-title {
    font-size: 36px;
    font-weight: bold;
  }
  .header-subtitle {
    font-size: 17px;
  }
}

.search-form {
  position: relative;
  margin: 20px 0;
  padding: 10px 0;
  .fa {
    position: absolute;
    top: 10px;
    left: 5px;
    font-size: 30px;
    color: $global-text-color-black;
  }
  .search-input {
    display: inline-block;
    width: 75%;
    padding: 7px 5px 7px 50px;
    color: $global-text-color-dark;
    font-size: 16px;
    border: 0;
    background-color: $global-content-background;
  }
  .btn {
    display: inline-block;
    width: 20%;
    vertical-align: top;
  }
}
