@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";

$media-highdensity: "only screen and (-webkit-min-device-pixel-ratio: 1.5)",
                    "only screen and (min--moz-device-pixel-ratio: 1.5)",
                    "only screen and (-o-min-device-pixel-ratio: 3/2)",
                    "only screen and (min-device-pixel-ratio: 1.5)";

$media-extra-small: "only screen and (max-width: #{$screen-xs-max})"; // 0 - 767
$media-small:       "only screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max})"; // 768 - 979
$media-medium:      "only screen and (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max})"; // 980 - 1199
$media-large:       "only screen and (min-width: #{$screen-lg-min})"; // 1200 and up

$media-print:       "print";
