@import "media-queries";

$font-family: "Open Sans", sans-serif;
$font-family-roboto: "Roboto", sans-serif;

$global-text-color-black: #000000;
$global-text-color-dark: #333333;
$global-text-color-light: #ffffff;
$global-link-color: #0b6a8e;

$global-content-background: #ffffff;
$global-background-color-dark: #333333;
$global-background-color-light: #f2f2f2;
$global-overlay-color: #d3d3d3;
$global-border-color-dark: #333333;
$global-border-color-light: #999999;
