@import "variables";
@import "mixins";

.global-header {
  .container {
    background: url("../img/header-bg.png") no-repeat right center;
  }
}
.search-form {
  width: 100%;
  position: relative;
  margin: 20px 0;
  padding: 10px 0;
  border-bottom: 1px solid $global-border-color-dark;
  .fa {
    position: absolute;
    top: 13px;
    font-size: 35px;
  }
  .search-input {
    display: block;
    width: 100%;
    padding: 10px 0 10px 50px;
    font-size: 16px;
    border: 0;
    background-color: transparent;
  }
}

.courses-list {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: left;
  justify-content: left;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  margin: 15px 0;
  li {
    display: block;
    width: 25%;
    padding: 0 5px 20px;
    &.course-wide-placeholder {
      width: 50%;
      .course-content {
        text-align: left;
      }
      .course-logo {
        left: 55px;
      }
    }
  }
}
