{% extends 'base.html' %}
{% load  backend_utils %}
{% load static from staticfiles %}

{% block extra_css %}
  <link href="{% static 'css/edx-theme.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}

{% block title %}Некорректная социальная регистрация{% endblock title %}

{% block content %}
<div class="content-wrapper">
  <div class="auth-wrapper">
    <div class="auth-section">
      <h2><span>Некорректная социальная регистрация</span></h2>
        <p>{{ message }}</p>
    </div>
  </div>
</div>
{% endblock %}
