{% extends "base.html" %}
{% block content %}
<div class="main">
  <form class="form-horizontal" method="post" action="{% url 'email_form' %}">
    <div class="container-fluid">
      <div class="row-fluid">
    <div class="span6 hero-unit">
      {% csrf_token %}
      <div class="span6 hero-unit">
        {{ form }}
      </div>
    </div>
      </div>
      <p align="center">
        <button type="submit" class="btn btn-primary">Подтвердить адрес email</button>
      </p>
    </div>
  </form>
</div>
{% endblock %}
