{% extends "base.html" %}
{% load static from staticfiles %}
{% load backend_utils %}

{% block extra_css %}
  <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
  <link href="{% static 'css/chosen.min.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'css/edx-theme.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}

{% block extra_js %}
  <script src="{% static 'js/chosen.jquery.min.js' %}"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="{% static 'js/datepicker-ru.js'  %}"></script>
  <script type="text/javascript">
    $(".profile-content-wrapper select").chosen();
    $( function () {
      $('.vDateField').datepicker($.datepicker.regional[ "ru" ]);
      $('.vDateField').datepicker("option", "defaultDate", '-20y');
      $('select').chosen();
    })
  </script>
{% endblock extra_js %}

{% block title %}Открытое образование - Профиль{% endblock title %}

{% block bodyclass %}section-profile{% endblock %}

{% block content %}
<div class="content-wrapper">

  <h1 class="firstDocumentHeading">Профиль</h1>

  {% if user.is_authenticated %}

    <ul class="profile-nav">
      <li>Мои данные</li>
      <li><a href="#profile-connect-social-network">Социальные сети</a></li>
      <li><a href="{% url 'password_change' %}">Сменить пароль</a></li>
      <!-- <li><a href="{% url 'edx-push' pk=user.id %}">Push to edx</a></li> -->
    </ul>

    <form method="post" class="profile-content-wrapper" id="profile-main-data-form">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <div class="footer-buttons">
        <button class="btn btn-primary" type="submit">Сохранить изменения</button>
      </div>
    </form>

    <h2>Аккаунты соц.сетей</h2>

    <div class="profile-content-wrapper" id="profile-connect-social-network">
      <h5>Подключить соц.сети:</h5>
      {% for sublist in available_backends|social_backends %}
        {% for name, backend in sublist %}
          {% associated backend %}
          {% if not association %}
            <a class="custom_img-thumbnail_link link-{{ name }}" href="{% url 'social:begin' backend=name %}?next={{ request.path }}"><span>Подключить {{ name }}</span></a>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>

    <div class="profile-content-wrapper" id="profile-connected-social-network">
      <h5>Отключить соц.сети:</h5>
      <ul>
        {% for sublist in available_backends|social_backends %}
          <li>
          {% for name, backend in sublist %}
            {% associated backend %}
            {% if association %}
              <form class="disconnect-social-networks" method="post" action="{% url 'social:disconnect_individual' backend=association.provider association_id=association.id %}?next={{ request.path }}">
                {% csrf_token %}
                <span class="link-{{ name }}"></span>
                <button type="submit" class="btn btn-default">Отключить {{ name }}</button>
              </form>
            {% endif %}
          {% endfor %}
          </li>
        {% endfor %}
      </ul>
    </div>

  {% else %}

    <p>Вы должны быть авторизованы для просмотра вашего профиля.</p>

  {% endif %}

</div>
{% endblock content %}
