{% extends "base.html" %}
{% load static from staticfiles %}
{% load backend_utils %}
{% block content %}
{% if user.is_authenticated %}
<p><a href="{% url 'password_change' %}">Change password</a> / <a href="{% url 'edx-push' pk=user.id %}">Push to edx</a></p>
<form method="post">
  {% csrf_token %}
  <table>
  {{ form.as_table }}
  </table>
  <input type="submit" value="Change">
</form>

<div class="col-sm-2">
  <h4>Связать аккаунты:</h4>
  {% for sublist in available_backends|social_backends %}
  {% for name, backend in sublist %}
  {% associated backend %}
  {% if association %}
  <form method="POST" action="{% url 'social:disconnect_individual' backend=association.provider association_id=association.id %}?next={{ request.path }}">
    {% csrf_token %}
    <input type="submit" value="disconnect {{ name }}">
  </form>
  {% else %}
  <p><a class="custom_img-thumbnail_link" href="{% url 'social:begin' backend=name %}?next={{ request.path }}">connect {{ name }}</a></p>
  {% endif %}
  {% endfor %}
  {% endfor %}
</div>

{% endif %}
{% endblock content %}
