"""
Django local_settings for tpl_site project.
"""
import os


# Build paths inside the project like this: os.path.join(BASE_DIR, ...)
BASE_DIR = os.path.dirname(os.path.dirname(__file__))
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
    }
}

RAVEN_CONFIG = {
    'dsn': 'http://00000000000000000000000000000000:00000000000000000000000000000000@10.11.12.13/1'
}

EDX_LMS_URL = 'domain'
EDX_CMS_URL = 'studio-domain'
PLP_URL = 'http://plp-domain'
AUTH_SESSION_COOKIE_DOMAIN = ".sso.net"

EDX_API_KEY = ''

SITE_ID = 2

SOCIAL_AUTH_FACEBOOK_KEY = ''
SOCIAL_AUTH_FACEBOOK_SECRET = ''
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY = ''
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET = ''
SOCIAL_AUTH_VK_OAUTH2_KEY = ''
SOCIAL_AUTH_VK_OAUTH2_SECRET = ''
SOCIAL_AUTH_TWITTER_KEY = ''
SOCIAL_AUTH_TWITTER_SECRET = ''
SOCIAL_AUTH_MAILRU_OAUTH2_KEY = ''
SOCIAL_AUTH_MAILRU_OAUTH2_SECRET = ''
SOCIAL_AUTH_COMMUNITY_NPOED_KEY = ''
SOCIAL_AUTH_COMMUNITY_NPOED_SECRET = ''

EMAIL_USE_TLS = True
EMAIL_HOST = ''
EMAIL_HOST_USER = ''
EMAIL_HOST_PASSWORD = ''
EMAIL_PORT = 25
DEFAULT_FROM_EMAIL = ""
SERVER_EMAIL = ""
EMAIL_FROM = DEFAULT_FROM_EMAIL

MIN_LENGTH_PASSWORD = 6

# django country
COUNTRIES_FIRST = ['RU']

# prefix for https
URL_PREFIX = 'https'
